body {
  font-family: Urbanist, sans-serif;
  margin: 0;
}
.urbanist-font {
  font-family: Urbanist, sans-serif !important;
}
.container {
  width: 85%;
  height: 85%;
  position: relative;
  background-color: #fafafa;
  border: 2px solid #ff470d;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  height: 100%;
  width: 85%;
}

.mat-header-cell,
.mat-cell {
  text-align: left;
}

.a-button,
.c-button {
  width: 30%;
  max-width: 325px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

.a-button {
  background: #ff470d !important;
  color: #ffffff !important;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(50, 10, 10, 0.06);
}

.c-button {
  background: #af0e09 !important;
  color: #ffffff !important;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(50, 10, 10, 0.06);
}

.a-button:hover,
.c-button:hover {
  color: #ffffff !important;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(50, 10, 10, 0.06);
  animation: increaseHeight 0.3s forwards;
}

@keyframes increaseHeight {
  100% {
    height: 40px;
  }
}
