body {
  margin: 0;
  background-color: #fafafa;
  font-family: Urbanist, sans-serif;
}

.container_principal {
  display: grid;
  grid-template-columns: 265px 1fr;
  grid-template-rows: 94px 1fr;
  height: 100vh;
}

.sidebar_principal {
  border-right: 1px solid #ccc;
  padding: 10px;
}

.content_principal {
  display: flex;
  flex-direction: column;
}

.content-inner_principal {
  max-width: 1200px;
  margin: 0 auto;
}

/* Agrega estilos adicionales según tus preferencias */
