<header>
  <nav>
    <div class="logo">
      <img
        src="../../../assets/images/smartdrive-logo.png"
        alt="SmartDrive Logo"
      />
    </div>
    <ul class="menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#global">Global</a></li>
      <li><a href="#servicios">Servicios</a></li>
      <li><a href="#nosotros">Nosotros</a></li>
    </ul>
    <div class="buttons">
      <button class="ingresa-boton">Ingresa</button>
      <button class="registro-boton">Regístrate</button>
    </div>
  </nav>
</header>
<section class="home" id="home">
  <mat-grid-list class="home-division" cols="2" rowHeight="800px">
    <mat-grid-tile class="home-left">
      <img src="../../../assets/images/home-frame.png" alt="home frame" />
    </mat-grid-tile>
    <mat-grid-tile class="home-right">
      <div class="vertical-container">
        <h1>Gestionar planes de pago nunca ha sido tan fácil</h1>
        <p>
          El plan de pagos se refiere a una estructura detallada que muestra
          cómo se<br />realizarán los pagos a lo largo del tiempo para amortizar
          un préstamo.
        </p>
        <button class="empecemos-boton">Ingresa</button>
        <p>Registrado y supervisado por:</p>
        <img
          src="../../../assets/images/superintendencia.png"
          alt="Superintendencia"
        />
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
<section class="elegirnos" id="elegirnos">
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</section>
<section class="global" id="global">
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</section>
