@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Urbanist:wght@700&display=swap');

header {
  background-color: #FAFAFA; /* Color blanco para el fondo del header */
  padding: 10px; /* Espaciado interno */
  display: flex; /* Utilizamos flexbox para alinear elementos */
  align-items: center; /* Centramos verticalmente los elementos */
  height: 66px;
}

header img {
  margin-left: 10px; /* Espaciado a la izquierda para el logo */
}

.login-container {
  background-color: #FFF3E5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 880px;
}

.login-box {
  background-color: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.welcome-text {
  color: #9b9797;
  font-size: 15px;
  margin-right: 282px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.login-heading {
  font-size: 32px;
  font-weight: bold;
  margin-right: 170px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.form-group {
  margin-top: 20px;
}

label {
  display: flex;
  margin-bottom: 5px;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

input {
  background-color: rgb(253, 244, 236);
  width: 85%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.forgot-password {
  color: #9b9797;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.login-button {
  background-color: #ff6348;
  color: white;
  border: none;
  padding: 15px 32px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Urbanist', sans-serif;
  margin-top: 20px;
  display: inline-flex;
}

.signup-text {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.signup-link {
  color: #ff6c53;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}