<header class="header">
    <div class="logo-container">
      <img src="../../../assets/images/smartdrive-logo.png" alt="Logo de la empresa">
    </div>
  
    <nav class="navigation">
      <ul>
        <li><a routerLink="/home">Resumen</a></li>
        <li><a routerLink="/calculate">Calculadora</a></li>
        <li><a routerLink="/clients">Clientes</a></li>
      </ul>
    </nav>
  
    <div class="user-actions">
      <a href="/login"><button class="ghost-button">Cerrar sesión</button></a>
    </div>
</header>