/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Urbanist, "Helvetica Neue", sans-serif;
  background-color: #efeaf2;
}
